@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "verdana", sans-serif;
  background-color: #333;
  color: #f4f4f4;
}

:root {
  --color-background: #333;
  --color-card: #222;
  --color-text: #f4f4f4;
  --color-accent: #6d7dda;
  --spacing-standard: 1rem;
  --border-radius: 10px;
}

.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.Button {
  background-color: #4777de;
  color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important; 
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  top: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 1em;
  align-items: center;
  padding: var(--spacing-standard);
  z-index: 100;
  background-color: var(--color-background);
  border-radius: 100px;
  
}

.header {
  background-color: var(--color-card);
  padding: var(--spacing-standard);
  text-align: center;
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  height: 85px;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
}